# Fichiers de données et labels secrets
#Data files and secret labels
*.npy
*.npz
__pycache__/
*.pyc
.DS_Store
._*
._.
competition_private_key.pem
competition_public_key.pem
test_predictions.txt
test_team.enc
test_predictions.dec
.tmp/
baseline/train_transfer.py
baseline/predict_transfer.py
# macOS
.DS_Store
._*